


/* selection container css */

#main-selection-container{
	text-align: center;
	
}


#selections{
	display: inline-block;
}


/* sub containers of selections */
.selection{
	margin-right: 10px;
	display: inline-block;
	float: left;
}


/* styl for the section boxs*/
.select{
	height: 25px;
	width: 130px;
	/* code to get semi-round select button look */
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
   	border-radius: 5px;
}

/* family info and table css */

#main-info-container{
	margin-top: 10px;
	text-align: center;


}

.main-info-sub-container{
	display: inline-block;
	background-color: yellow;
	
	margin: 20px;
}



#stats-table th{
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #51ca1e;
}

#stats-table td, #stats-table th{
	border: 1px solid #ddd;
    padding: 8px;
}
