/* ---------------------------------------------------------
* This document contains style attributes for each header
*
* Author: Wesley & Komal
*--------------------------------------------------------*/

/* Imports the Aclonica Font */
@font-face { 
	font-family: Aclonica; 
	src: url('Aclonica-Regular.ttf'); 
} 

body {
	font-family: sans-serif;
}

h1 {
	font-family: Aclonica, sans-serif;
	color: #4c7a34;
	font-size: 26px;
	text-align: center;
	margin: 50px 50px 50px 50px;
}

h2, label{
	font-weight: bold;
	color: #4c7a34;
	font-size: 18px;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	font-size: 15px;
}


div.main-container {
    width: 100%;
}

.navbar-container a{
  background-color: #333;
  border: thin solid white;
} 

.navbar-container{
  overflow: hidden;
  background-color: rgb(143, 223, 99);
  float; center;
} 

.navbar-container a{
  float:right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: thin solid white;
}

body {
	font-family: sans-serif;
}

.navbar-container a:hover {
    background-color: grey;
}

.head-container {
  background-color: rgb(143, 223, 99);
}

#logo{
  width: 150px;
}
#page-container{
  /*width: 100px;
  height: 500px;*/
}
#logout-button{
  float: right;
  margin: 10px;
  width: 85px;
  height: 30px;
}
#title{
  float: right;
