/*-------------------------------------------------------------
* This document styling for the Account creation page. 
*
* Author: Wesley Olson
*--------------------------------------------------------------*/


.main_div_pages{
	text-align: center;
	clear:both;
}



#account-creation-warning{
	margin: 10px;
	color: red;
    float: left;

}


a.button {
    display: inline-block;
    width: 115px;
    height: 25px;
    background: rgb(131,216,95);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 20px; 

}

.fancybigtext{
    font-family: 'Aclonica';
    color: #4c7a34;
    font-size: 26px;
}

.fancynormaltext{
    font-family:calibri;
    font-size: 20px;
}