/*-------------------------------------------------------------
* This document styling for the Account creation page. 
*
* Author: Wesley Olson
*--------------------------------------------------------------*/



body {
	margin-top: 55px;
}

.main_div_pages{
	margin: 20px;
	text-align: center;
	clear:both;
}



#account-creation-warning{
	margin: 10px;
	color: red;

}


a.button {
    display: inline-block;
    width: 115px;
    height: 25px;
    background: rgb(199,236,87);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;


    
    text-decoration: none;
    margin: 20px;
    
    
}